:root{
  --orange: #ff5800;
}


.logo-navbar-container{
  width: 1320px;
  padding: 0 10px 0 10px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
}


.logo{
  height: 70px;
  display: flex;
  align-items: center;

}

.logo span{
  color: var(--orange);
  font-family: Quicksand;
  font-weight: 700;
  font-size: 25px;
}

.logo img{
  width: 30px;
}

.navbar ul li{
  list-style-type: none;
  color: var(--orange);
  font-weight: 600;
  display: flex;
  font-size: 25px;
  font-family:Quicksand ;
  text-transform: capitalize;
}

.navbar ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  height: 70px;
}

.home{
  width: 1320px;
  margin: auto;
  display: flex;
  padding: 0 10px 0 10px;
  display: flex;
}

.title{
  flex: 50%;
}

.img{
  flex: 50%;
}

.img img{
  width: 750px;
}

